

/* This is for the side portion */

.content {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: DeathStarFont;
    color: white;
    font-size: 35px;
    margin: none;
}

.side-logo, .side-segment {

    align-items: center;
    width: fit-content;
    height: fit-content;
}

.side-logo{
    position: inherit;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
}

.side-logo img{
    max-width: 15%;
}

.side-segment {
    display: flex;
    justify-content: left;
    width: 30vw;
    height: 100vh;
    background-image: url(assets/halie-west-bTzpau9mKT4-unsplash.jpg);
}

.sign-up-container{
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: grey;

}

.sign-up-header, .sign-up-inputs, .sign-up-buttons {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    width: 70vw;
}

fieldset {
    border-radius: 9px;
    border-color: black;
    font-size: 20px;
}

